{% load staticfiles %}

<form class="form-inline" id="post-form" action="{% url 'vips:createdevice'%}" method="post">
<legend>Create Device</legend>
    {% csrf_token %}
    {%  for field in deviceform %}
        {% if field.errors %}
            {% for error in  field.errors %}
                {{ error }}
            {% endfor %}
        {% else %}
             <div class="form-group">
                    <label class="control-label">{{ field.label }}</label>
                    {{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
        {% endif %}
    {% endfor %}
    <input class="btn btn-default btn-sm" type="submit" value="Submit" />
</form>