<table id="devicetable" class="table table-condensed table-hover table-bordered">
    <thead>
    <tr class="text-left">
        <th>Name</th>
        <th>Address</th>
        <th>
            <a href="#modal-device" class="btn btn-default btn-sm" data-toggle="modal" >
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% if devices %}
        {% for device in devices %}
            <tr>
            <td>{{ device.label }}</td>
            <td>{{ device.ip }}</td>
            <td>
                <script>
                    var url{{ device.id }} = "{% url 'vips:deletedevice' device.id %}";
                </script>
                <button type="button" class="btn btn-default btn-sm"
                   onclick='deletemodal("{{ device.id }}", $(#modal-device), "{% url 'vips:deletedevice' device.id %}", $(#devicetable));'>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

            </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
            <td><p>there is nothing in the database</p></td>
            <td></td>
            <td></td>
            </tr>
    {% endif %}
    </tbody>
    {% if error %}
        <tr><td>{{ error }}</td></tr>
    {% endif %}
</table>