{%  extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script src="{%  static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/d3pie.min.js' %}"></script>

{% if devices %}
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Summary</a></li>
        {% for device in devices %}
            <li id="device{{ device.id }}"><a href="#tab{{ device.id }}" data-toggle="tab">{{ device.label }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div id='pieChart'></div>
            <div id="deviceChart"></div>
            <script>
                var pie = new d3pie("pieChart", {
                    "header": {
                        "title": {
                            "text": "Vips",
                            "fontSize": 24,
                            "font": "open sans"
                        },
                        "subtitle": {
                            "color": "#999999",
                            "fontSize": 12,
                            "font": "open sans"
                        },
                        "titleSubtitlePadding": 9
                    },
                    "footer": {
                        "color": "#999999",
                        "fontSize": 10,
                        "font": "open sans",
                        "location": "bottom-left"
                    },
                    "size": {
                        "canvasWidth": 590,
                        "pieOuterRadius": "100%"
                    },
                    "data": {
                        "sortOrder": "value-desc",
                        "content": [
                            {% for item in stategraph %}
                            {
                                "label": "{{ item.state }}",
                                "value": {{ item.value }},
                                "color": "{{ item.color }}"
                            },
                            {% endfor %}

                        ]
                    },
                    "labels": {
                        "outer": {
                            "pieDistance": 32
                        },
                        "inner": {
                            "hideWhenLessThanPercentage": 3
                        },
                        "mainLabel": {
                            "fontSize": 11
                        },
                        "percentage": {
                            "color": "#ffffff",
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#adadad",
                            "fontSize": 11
                        },
                        "lines": {
                            "enabled": true
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "speed": 400,
                            "size": 8
                        }
                    },
                    "misc": {
                        "gradient": {
                            "enabled": true,
                            "percentage": 100
                        }
                    }
                });

            var pie2 = new d3pie2("deviceChart", {
                    "header": {
                        "title": {
                            "text": "Vips",
                            "fontSize": 24,
                            "font": "open sans"
                        },
                        "subtitle": {
                            "color": "#999999",
                            "fontSize": 12,
                            "font": "open sans"
                        },
                        "titleSubtitlePadding": 9
                    },
                    "footer": {
                        "color": "#999999",
                        "fontSize": 10,
                        "font": "open sans",
                        "location": "bottom-left"
                    },
                    "size": {
                        "canvasWidth": 590,
                        "pieOuterRadius": "100%"
                    },
                    "data": {
                        "sortOrder": "value-desc",
                        "content": [
                            {% for item in devicegraph %}
                            {
                                "label": "{{ item.state }}",
                                "value": {{ item.value }},
                                "color": "{{ item.color }}"
                            },
                            {% endfor %}

                        ]
                    },
                    "labels": {
                        "outer": {
                            "pieDistance": 32
                        },
                        "inner": {
                            "hideWhenLessThanPercentage": 3
                        },
                        "mainLabel": {
                            "fontSize": 11
                        },
                        "percentage": {
                            "color": "#ffffff",
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#adadad",
                            "fontSize": 11
                        },
                        "lines": {
                            "enabled": true
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "speed": 400,
                            "size": 8
                        }
                    },
                    "misc": {
                        "gradient": {
                            "enabled": true,
                            "percentage": 100
                        }
                    }
                });
            </script>
        </div>

        {% for device in devices %}
            <div class="tab-pane" id="tab{{ device.id }}">
                <div class="row main">
                    <div class="col-lg-5">
                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th colspan="5" class="text-center">Total Vips: {{ device.vips.count }}</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Port</th>
                                <th>State</th>
                                <th>Effective State</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vip in device.vips.all %}
                                <tr>
                                    <td><a style="cursor: pointer;" onclick="getPajax('{% url "vips:members" vip.id %}', '#memberdiv{{ device.id }}');"> {{ vip.label }}</a></td>
                                    <td>{{ vip.address }}</td>
                                    <td>{{ vip.port }}</td>
                                    {% if vip.state == "UP" %}
                                        <td><span class='label label-success'>{{ vip.state }}</span></td>
                                    {% else %}
                                        <td><span class="label label-default">{{ vip.state }}</span></td>
                                    {% endif %}
                                    {% if vip.effective_state == "UP"%}
                                        <td><span class="label label-success">{{ vip.effective_state }}</span></td>
                                    {% else %}
                                        <td><span class="label label-default">{{ vip.effective_state }}</span></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id='memberdiv{{ device.id }}' class="col-lg-5 col-lg-offset-5 fixed">
                        <!-- place holder for table -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <div>
    <p>there is nothing in the database</p>
    </div>
{% endif %}

{% endblock %}