{%  extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script>


</script>
{%  include 'vips/device_list.html'%}
{% endblock %}


{% block modal %}
<!-- Modal HTML -->
    <div id="modal-device" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="device-form">
                {% if deviceform %}
                    {{ deviceform }}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



